<html lang='en'>
<head>
    <meta charset='utf-8'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>De-Mark Images</div>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept="image/*"
                       onchange="">
            </div>
        </div>
    </div>
</div>
</body>









</html>